.header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-title {
    margin: 0;
    font-size: 1.5rem;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.footer {
    background-color: #333;
    color: white;
    padding: 0.2rem;
    text-align: center;
    position: flex;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
